ANTHROPIC_API_KEY=sk-ant-...
DEEPSEEK_API_KEY=sk-...
GOOGLE_API_KEY=AI...
GROQ_API_KEY=gsk_...
LANGSMITH_API_KEY=lsv2_pt_...
NVIDIA_API_KEY=nvapi-...
OPENAI_API_KEY=sk-...
OPENROUTER_API_KEY=sk-or-v1-...
PINECONE_API_KEY=pcsk_...
TAVILY_API_KEY=tvly-dev-...

